# OS X
*.DS_Store

# Sonar
.scannerwork/
sonar-reports/
.xcodebuild.log
compile_commands.json


# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserdatad

# build
build/
Build/
DerivedData/
vendor/
.bundle/

# temp nibs and swap files
*~.nib
*.swp
*.orig

# CocoaPods
Pods/

# AppCode
.idea
atlassian-ide-plugin.xml
